/* Clearing inherent stylings */
body, html { margin: 0; padding: 0; font-family: sans-serif;}
h1,h2,h3,h4,h5,ul,li,p,form { margin: 0; padding: 0; }
li { list-style: none; }

.shadowed-box {
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#container {
  #viewport {
    position: relative;
  }
}

#state-senate-search {
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 1000;

  #form-area {
    @extend .shadowed-box;
    position: relative;
    h3 { font-size: 14px; }
    input[type=text]{
      padding: 5px;
      font-size: 15px;
      width: 400px;
      margin-top: 5px;
    }
    // #suggestions {
    //   position: absolute;
    //   top: 68px;
    //   width: 378px;
    //   background-color: white;
    //   border: #cccccc 1px solid;
    //   padding: 10px;
    // }
  }

  #results-area {
    @extend .shadowed-box;
    margin-top: 10px;
  }
}

#mapid {
  height: 100%;
  width: 100%;
}

#mapid .leaflet-overlay-pane path.leaflet-interactive {
  stroke-width: 1;
}

#mapid .leaflet-interactive {
  fill-opacity: 0.7;
  transition: fill-opacity 0.35 ease;
}

#mapid .leaflet-interactive:hover {
  fill-opacity: 0.9;
}
/*
 *    Popup Styles
 */


.senator-popup .leaflet-popup-tip-container {
  margin-top: -1px;
}


.senator-popup {
  padding: 0.85rem;
  width: 320px;
}

.senator-popup .leaflet-popup-content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.senator-image-container {
  float: left;
  margin-right: 1rem;
  width: 100px;
}

.senator-image-container img {
  width: 100%;
}

.senator-info {
  font-size: .875rem;
  margin-top: 1rem;
  padding: 1rem;
}
.senator-info .votes-no {
  color: red;
}

.senator-info .votes-yes {
  color: black;
  font-weight: bold;
}

.contact-button {
  background-color: #1274b9;
  border: 0;
  border-radius: 4px;
  color: white;
  clear: both;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: .875rem;
  text-transform: uppercase;
  width: 100%;
}
